/* Reset */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;   /* logo on top, form below */
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */
    font-family: Arial, sans-serif;
    background-color: white;

}

/* Logo */
#logo {
    width: 180px;
    margin-bottom: 0px;
}

/* Login container */
.login-container {
    background-color: white;
    padding: 10px 40px 20px 40px;
    border-radius: 15px;
    border : 2px solid black;
    width: 320px;
    text-align: center;
}

/* Title */
.login-form h2 {
    color: black;
    margin-bottom: 20px;
}

/* Inputs */
.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border : 2px solid black;
    border-radius: 6px;
    font-size: 16px;
}

/* Button */
.login-form input[type="submit"] {
    background-color: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;

}

.login-form input[type="submit"]:hover {
    background-color: darkorange;
}
